Repository riidefi/mkw, pull requests merged in 2022-07, with the labels that each got.

#212 mkwutil: add slices.csv saving
  mkwutil/attic/README.md
  mkwutil/attic/format_slices.py
  mkwutil/attic/new_source.py
  mkwutil/lib/slices.py
  mkwutil/project.py
  pack/dol_slices.csv
Labels: p-low, devops

#216 Split RVL/DARCH
  pack/dol_objects.txt
  pack/dol_slices.csv
  pack/symbols.txt
  source/rvl/darch/darch.c
  source/rvl/darch/darch.h
  sources.py
Labels: a-rvl, splitting

#217 Split RVL/DB
  pack/dol_objects.txt
  pack/dol_slices.csv
  source/rvl/db/db.c
  source/rvl/db/db.h
  source/rvl/db/dbPrintf.c
  source/rvl/db/dbPrintf.h
  sources.py
Labels: a-rvl, splitting

#201 Decomp: RaceConfig
  .gitignore
  pack/rel_objects.txt
  pack/rel_slices.csv
  pack/symbols.txt
  source/game/host_system/ParameterFile.hpp
  source/game/system/GhostFile.hpp
  source/game/system/InitScene.hpp
  source/game/system/InputManager.hpp
  source/game/system/Mii.cpp
  source/game/system/Mii.hpp
  source/game/system/RaceConfig.cpp
  source/game/system/RaceConfig.hpp
  source/game/system/ResourceManager.cpp
  source/game/system/ResourceManager.hpp
  source/game/system/SaveManager.hpp
  sources.py
Labels: decomp
